<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Commerce electronique</title>
    </head>
    <body>
        <a href="{% url 'index' %}">
            <h1>La boutique en ligne</h1>
        </a>
        {% if user.is_authenticated %}
            {{ user.username }} | <a href="{% url 'logout' %}">Deconnection</a>
        {% else %}
            <a href="{% url 'signup' %}">S'inscrire</a> | <a href="{% url 'login' %}">Se connecter</a>
        {% endif %}
        {% block content %}
        
        {% endblock content %}
    </body>
</html>